.projectsTitle {
    font-size: 4rem;
    width: 100%;
    color: #d180bd;
    text-align: center;
    padding-top: 6rem;
}


.projectsContainer {
    width: 100%;
    color: #d180bd;
    text-align: center;
    padding-top: 6rem;
}

.card {
    width: 30%;
    padding: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    font-size: 1.2rem;
}

.cardsRepoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    gap: 3rem;
    padding: 2rem;
}

.cardRepo {
    background: #d180bd;
    width: 20%;
    height: 230px;
    padding: 2rem;
    border-radius: 4px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.cardRepoText{
    color: #fff;
    font-size: 15px;
}

.cardsContainer {
    margin: 0 auto;
    width: 80%;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    gap: 3rem;
    font-size: 1rem;
}

.cardImage {
    width: 100%;
}

.cardLink{
    background-color: #d180bd;
    border: none;
    color: #fff;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}